/*general*/
body {
	background-image: url();
	
	
	
}
body {
	
		font-family: "Varela Round";
	
	
	
	
		background-color: #ababab;
	
	
	
		color: #333;
	
}
/*background color settings*/
.topbar{
	background-color: ;
}
.header{
	background-color: ;
}
.navigation{
	background-color: ;
}
.footer{
	background-color: ;
}
.social-newsletter{
	background-color: ;
}
#powered{
	background-color: ;
}

/*color settings*/
.topbar{
	color: ;
}
.header{
	color: ;
}
.main-nav__item > a{
	color: ;
}
.footer{
	color: ;
}
.social-newsletter{
	color: ;
}
#powered{
	color: ;
}